.dash-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    height: 100dvh;
    gap: 40px;
}

.dash-container .task-add {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 20px 10px;
    background-color: #fff4;
    border: 2px solid #fff4;
    border-radius: 30px;
}

.dash-container .task-list {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #fff4;
    border: 2px solid #fff4;
    border-radius: 30px;
    padding: 30px 20px;
}

.create-task-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 10px;
    cursor: pointer;
    background-color: #fff4;
    border-radius: 10px;
    border: 2px solid #fff4;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    gap: 10px;
    z-index: 100;
}

.create-task-btn .create-task-btn-text {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.active {
    opacity: 1;
    pointer-events: all;
}

.editor-container {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    z-index: 100;
    display: flex;
    flex-direction: column;
    bottom: 70px;
    right: 10px;
    width: 50%;
    background: linear-gradient(228.11deg, rgba(255, 255, 255, 0.5) 2.72%, rgba(75, 75, 75, 0.5) 97.28%);border: 2px solid #FFFFFF;
    border-radius: 30px;
    padding: 30px 20px;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease-in-out;
}

.tasks-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
}

/*Media Queries*/

@media (max-width: 768px) {
    .dash-container .task-add {
        width: 100%;
        padding: 20px 10px;
    }

    .dash-container .task-list {
        width: 100%;
        padding: 30px 20px;
    }

    .editor-container {
        width: 100%;
        right: 0;
        bottom: 70px;
    }

    .create-task-btn {
        padding: 10px 10px;
        border-radius: 50%;
        z-index: 10;
    }

    .create-task-btn p {
        display: none;
    }
}
