.task {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    padding: 50px 40px 5px 40px;
    background: linear-gradient(228.11deg, rgba(255, 255, 255, 0.5) 2.72%, rgba(75, 75, 75, 0.5) 97.28%);
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    min-width: 200px;
    max-width: 500px;
    box-shadow: inset 0px -20px 50px -10px #000000, 0px 0px 20px -10px #FFFFFF;
}

.task .task-content {
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 400px;
    transition: all 0.2s ease;
}

.expanded {
    max-height: none !important;
}

.expand-content {
    background-color: transparent;
    color: #10bafd;
    outline: none;
    margin: 5px 0;
    align-self: flex-end;
    border: none;
    cursor: pointer;
}

.task li, .task ul {
    color: #fff;
}

.task:last-of-type {
    margin-bottom: 0;
}

.task h1, .task h2, .task h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
}

.task p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #fff;
    white-space: pre-wrap;
}

.task .actions {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    top: 5px;
    right: 4px;
}

.task .actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease; 
    box-shadow: 0 0 10px 2px #fff0;
}

.task .actions button svg {
    width: 100%;
    pointer-events: none;
}

.task .actions button:hover {
    box-shadow: 0 0 10px 2px #fff;
}

.task .menu {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    top: 60px;
    right: 15px;
    border: 2px solid #fff;
    border-radius: 10px;
}

.task .menu .menu-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #000;
    padding: 7px 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #fff8;
    color: #fff;
    width: 100%;
    outline: none;
    transition: all 0.2s ease; 
}

.task .menu .menu-btns button {
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: none;
    margin-bottom: 5px;
    transition: all 0.2s ease;
    padding: 10px 20px;
    border-radius: 10px;
}

.task .menu .menu-btns .delete-btn {
    background-color: #ff0000;
    color: #fff;
}

.task .menu .menu-btns button:hover {
    background-color: #fff4;
}

.task .menu .menu-btns button:last-child {
    margin-bottom: 0;
}

.task .menu .menu-btns button p {
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 0 !important;
}

.task .task-priority {
    position: absolute;
    top: 12px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task .task-priority .priority-color {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.task .task-priority .priority-color p{
    padding: 5px 10px;
    color: #000;
    margin-bottom: 0 !important;
}

.delete-confirmation {
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: all 0.2s ease;
    pointer-events: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 150;
    background-color: #fff6;
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 999;
}

.delete-confirmation .delete-confirmation-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border-radius: 10px;
    padding: 20px;
    z-index: 1000;
}

.delete-confirmation .delete-confirmation-content > p {
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.delete-confirmation .confirmation-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.delete-confirmation button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    border: none;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    color: #000;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease; 
}

.delete-confirmation button:hover {
    box-shadow: 0 0 10px 2px #fff;
}

.delete-confirmation button:first-child {
    background-color: #ff0000;
    color: #fff;
}

.delete-confirmation button:first-child:hover {
    box-shadow: 0 0 10px 2px #ff0000;
    color: #fff;
}

.delete-confirmation button:nth-child(2) {
    background-color: #00ff00;
    color: #000;
}

.delete-confirmation button:nth-child(2):hover {
    box-shadow: 0 0 10px 2px #00ff00;
    color: #000;
}

.active {
    opacity: 1 !important;
    pointer-events: all !important;
}

/*Media Queries*/

@media (max-width: 768px) {
    .task {
        padding: 45px 20px 10px 20px;
        min-width: 100%;
        max-width: 100%;
    }

    .task h1, .task h2, .task h3 {
        font-size: 18px;
    }

    .task p {
        font-size: 14px;
    }

    .task li, .task ul {
        font-size: 14px;
    }
}